<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado recuperar su contraseña, por favor hagalo en el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no hiso la solicutud de cambio de contraseña, por favor ignore este email</p>
<p>Su contraseña no cambiara hasta que ingrese al link de arriba e ingrese su nueva contraseña</p>
