<div class="row">
	<div class="col-xs-6">
	</div>
	<div class="col-xs-1">
		<%= link_to "Registrarse", registrarse_path, class: 'btn btn-info btn-sm' %>
	</div>
	<div class="col-xs-1">
		<button type="button" class = "btn btn-primary"> iniciar sesion </button>
	</div>
</div>
<div class="row">
</div>
<div class="row">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-8">
		<table class= table>
		<tr> <th> preguntas </th> </tr>
		<% Preguntum.all.each do |pregunta| %>
			<tr>
				<th><%=pregunta.Usuario.nombre%></th>
				<th><%=pregunta.descripcion%></th>
				<th><%=pregunta.created_at%></th>
			</tr>
		<% end %>
	</div>
</div>

