
<div class="row">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-8">
		<table class= table>
		<tr> <th> Ultimas Preguntas </th> </tr>
		<% @question.each do |pregunta| %>
			<title> <%pregunta.titulo%></title>
			<tr>
				<th><%=pregunta.User.nombre%></th>
				<th><%=pregunta.descripcion%></th>
				<th><%=pregunta.created_at%></th>
			</tr>
		<% end %>
	</div>
</div>
