
<div class="row">
</div>
<div class="row">
	<div class="col-xs-4">
			<h3> Quieres realizar una nueva pregunta </h3>
				<%= link_to "Preguntar", new_preguntar_path, class: 'btn btn-info btn-sm'  %>
 	</div>
	<div class="col-xs-8">
		<table class= table>
		<tr> <th> Ultimas Preguntas </th> </tr>
		<% @question.each do |pregunta| %>
			<title> <%pregunta.titulo%></title>
			<tr>
				<th><%=pregunta.User.nombre%></th>
				<th><%=pregunta.descripcion%></th>
				<th><%=pregunta.created_at%></th>
			</tr>
		<% end %>
	</div>
</div>
